/*
Error: Undefined mixin 'grid'.
        on line 12 of /home/sebastian/code/yamato/assets/src/css/_/scaffolding/_scaffolding_tablet.scss, in `grid'
        from line 12 of /home/sebastian/code/yamato/assets/src/css/_/scaffolding/_scaffolding_tablet.scss

7:     Created on : Oct 26, 2013, 7:18:16 PM
8:     Author     : cesar
9: *\/
10: 
11: 
12: @include grid('m', 7);

Backtrace:
/home/sebastian/code/yamato/assets/src/css/_/scaffolding/_scaffolding_tablet.scss:12:in `grid'
/home/sebastian/code/yamato/assets/src/css/_/scaffolding/_scaffolding_tablet.scss:12
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:98:in `block in with_mixin'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:98:in `with_mixin'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:162:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:161:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:10:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:82:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:336:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'grid'.\A         on line 12 of /home/sebastian/code/yamato/assets/src/css/_/scaffolding/_scaffolding_tablet.scss, in `grid'\A         from line 12 of /home/sebastian/code/yamato/assets/src/css/_/scaffolding/_scaffolding_tablet.scss\A \A 7:     Created on : Oct 26, 2013, 7:18:16 PM\A 8:     Author     : cesar\A 9: */\A 10: \A 11: \A 12: @include grid('m', 7);"; }
