@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.04.2018, 16:35:00
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.04.2018, 14:51:25
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/
.span {
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 3px 1.0416666667%;
  width: 100%; }
  .span img {
    max-width: 100%; }

div.row {
  display: block;
  margin: 0 auto;
  width: 100%;
  width: calc(100% - 30px);
  	/*
      * Fixes an issue that browsers will have rendering the layout. Since the system
      * does use inline-block, spaces that are parsed from the HTML file (due to tabs
      * or spaces being present to indent the file) will cause the blocks to separate
      * just a tiny bit and cause the layout to break.
  	 */
  font-size: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  div.row.fluid {
    width: 100%;
    max-width: 100%; }
  div.row.ng .span {
    padding: 0; }
  div.row.ng-lr .span:first-child {
    padding-left: 0; }
  div.row.ng-lr .span:nth-last-of-type(1) {
    padding-right: 0; }

/*
This are the functions (mixins) used to generate the basic scaffolding for our
website. Due to the inverted functionality of the grid we rewrote big parts to 
make them more usable.
*/
/*!
    Created on : Oct 26, 2013, 7:18:16 PM
    Author     : cesar
*/
._fs1-s1, .row.s2 > .span.s2, .row.s3 > .span.s3, .row.s4 > .span.s4, .row.s5 > .span.s5, .row.s6 > .span.s6, .row.s7 > .span.s7, .row.s8 > .span.s8, .row.s9 > .span.s9, .row.s10 > .span.s10,
.row.s1 > .span.s1 {
  width: 100%; }

._fs2-s1, .row.s4 > .span.s2, .row.s6 > .span.s3, .row.s8 > .span.s4, .row.s10 > .span.s5,
.row.s2 > .span.s1 {
  width: 50%; }

._fs3-s1, .row.s6 > .span.s2, .row.s9 > .span.s3,
.row.s3 > .span.s1 {
  width: 33.3333333333%; }

._fs3-s2, .row.s6 > .span.s4, .row.s9 > .span.s6,
.row.s3 > .span.s2 {
  width: 66.6666666667%; }

._fs4-s1, .row.s8 > .span.s2,
.row.s4 > .span.s1 {
  width: 25%; }

._fs4-s3, .row.s8 > .span.s6,
.row.s4 > .span.s3 {
  width: 75%; }

._fs5-s1, .row.s10 > .span.s2,
.row.s5 > .span.s1 {
  width: 20%; }

._fs5-s2, .row.s10 > .span.s4,
.row.s5 > .span.s2 {
  width: 40%; }

._fs5-s3, .row.s10 > .span.s6,
.row.s5 > .span.s3 {
  width: 60%; }

._fs5-s4, .row.s10 > .span.s8,
.row.s5 > .span.s4 {
  width: 80%; }

._fs6-s1,
.row.s6 > .span.s1 {
  width: 16.6666666667%; }

._fs6-s5,
.row.s6 > .span.s5 {
  width: 83.3333333333%; }

._fs7-s1,
.row.s7 > .span.s1 {
  width: 14.2857142857%; }

._fs7-s2,
.row.s7 > .span.s2 {
  width: 28.5714285714%; }

._fs7-s3,
.row.s7 > .span.s3 {
  width: 42.8571428571%; }

._fs7-s4,
.row.s7 > .span.s4 {
  width: 57.1428571429%; }

._fs7-s5,
.row.s7 > .span.s5 {
  width: 71.4285714286%; }

._fs7-s6,
.row.s7 > .span.s6 {
  width: 85.7142857143%; }

._fs8-s1,
.row.s8 > .span.s1 {
  width: 12.5%; }

._fs8-s3,
.row.s8 > .span.s3 {
  width: 37.5%; }

._fs8-s5,
.row.s8 > .span.s5 {
  width: 62.5%; }

._fs8-s7,
.row.s8 > .span.s7 {
  width: 87.5%; }

._fs9-s1,
.row.s9 > .span.s1 {
  width: 11.1111111111%; }

._fs9-s2,
.row.s9 > .span.s2 {
  width: 22.2222222222%; }

._fs9-s4,
.row.s9 > .span.s4 {
  width: 44.4444444444%; }

._fs9-s5,
.row.s9 > .span.s5 {
  width: 55.5555555556%; }

._fs9-s7,
.row.s9 > .span.s7 {
  width: 77.7777777778%; }

._fs9-s8,
.row.s9 > .span.s8 {
  width: 88.8888888889%; }

._fs10-s1,
.row.s10 > .span.s1 {
  width: 10%; }

._fs10-s3,
.row.s10 > .span.s3 {
  width: 30%; }

._fs10-s7,
.row.s10 > .span.s7 {
  width: 70%; }

._fs10-s9,
.row.s10 > .span.s9 {
  width: 90%; }

@media all and (max-width: 960px) and (min-width: 480px) {
  .desktop-only {
    display: none !important; }

  .mobile-only {
    display: none; }

  .not-tablet {
    display: none; }

  /*
  This are the functions (mixins) used to generate the basic scaffolding for our
  website. Due to the inverted functionality of the grid we rewrote big parts to 
  make them more usable.
  */
  /*!
      Created on : Oct 26, 2013, 7:18:16 PM
      Author     : cesar
  */
  ._fm1-m1, .row.m2 > .span.m2, .row.m3 > .span.m3, .row.m4 > .span.m4, .row.m5 > .span.m5, .row.m6 > .span.m6, .row.m7 > .span.m7, .row.m8 > .span.m8, .row.m9 > .span.m9, .row.m10 > .span.m10,
  .row.m1 > .span.m1 {
    width: 100%; }

  ._fm2-m1, .row.m4 > .span.m2, .row.m6 > .span.m3, .row.m8 > .span.m4, .row.m10 > .span.m5,
  .row.m2 > .span.m1 {
    width: 50%; }

  ._fm3-m1, .row.m6 > .span.m2, .row.m9 > .span.m3,
  .row.m3 > .span.m1 {
    width: 33.3333333333%; }

  ._fm3-m2, .row.m6 > .span.m4, .row.m9 > .span.m6,
  .row.m3 > .span.m2 {
    width: 66.6666666667%; }

  ._fm4-m1, .row.m8 > .span.m2,
  .row.m4 > .span.m1 {
    width: 25%; }

  ._fm4-m3, .row.m8 > .span.m6,
  .row.m4 > .span.m3 {
    width: 75%; }

  ._fm5-m1, .row.m10 > .span.m2,
  .row.m5 > .span.m1 {
    width: 20%; }

  ._fm5-m2, .row.m10 > .span.m4,
  .row.m5 > .span.m2 {
    width: 40%; }

  ._fm5-m3, .row.m10 > .span.m6,
  .row.m5 > .span.m3 {
    width: 60%; }

  ._fm5-m4, .row.m10 > .span.m8,
  .row.m5 > .span.m4 {
    width: 80%; }

  ._fm6-m1,
  .row.m6 > .span.m1 {
    width: 16.6666666667%; }

  ._fm6-m5,
  .row.m6 > .span.m5 {
    width: 83.3333333333%; }

  ._fm7-m1,
  .row.m7 > .span.m1 {
    width: 14.2857142857%; }

  ._fm7-m2,
  .row.m7 > .span.m2 {
    width: 28.5714285714%; }

  ._fm7-m3,
  .row.m7 > .span.m3 {
    width: 42.8571428571%; }

  ._fm7-m4,
  .row.m7 > .span.m4 {
    width: 57.1428571429%; }

  ._fm7-m5,
  .row.m7 > .span.m5 {
    width: 71.4285714286%; }

  ._fm7-m6,
  .row.m7 > .span.m6 {
    width: 85.7142857143%; }

  ._fm8-m1,
  .row.m8 > .span.m1 {
    width: 12.5%; }

  ._fm8-m3,
  .row.m8 > .span.m3 {
    width: 37.5%; }

  ._fm8-m5,
  .row.m8 > .span.m5 {
    width: 62.5%; }

  ._fm8-m7,
  .row.m8 > .span.m7 {
    width: 87.5%; }

  ._fm9-m1,
  .row.m9 > .span.m1 {
    width: 11.1111111111%; }

  ._fm9-m2,
  .row.m9 > .span.m2 {
    width: 22.2222222222%; }

  ._fm9-m4,
  .row.m9 > .span.m4 {
    width: 44.4444444444%; }

  ._fm9-m5,
  .row.m9 > .span.m5 {
    width: 55.5555555556%; }

  ._fm9-m7,
  .row.m9 > .span.m7 {
    width: 77.7777777778%; }

  ._fm9-m8,
  .row.m9 > .span.m8 {
    width: 88.8888888889%; }

  ._fm10-m1,
  .row.m10 > .span.m1 {
    width: 10%; }

  ._fm10-m3,
  .row.m10 > .span.m3 {
    width: 30%; }

  ._fm10-m7,
  .row.m10 > .span.m7 {
    width: 70%; }

  ._fm10-m9,
  .row.m10 > .span.m9 {
    width: 90%; } }
@media all and (min-width: 960px) {
  .mobile-only {
    display: none; }

  .tablet-only {
    display: none; }

  .not-desktop {
    display: none; }

  /*
  This are the functions (mixins) used to generate the basic scaffolding for our
  website. Due to the inverted functionality of the grid we rewrote big parts to 
  make them more usable.
  */
  /*!
      Created on : Oct 26, 2013, 7:18:16 PM
      Author     : cesar
  */
  div.row {
    width: 100%;
    max-width: 960px; }

  ._fl1-l1, .row.l2 > .span.l2, .row.l3 > .span.l3, .row.l4 > .span.l4, .row.l5 > .span.l5, .row.l6 > .span.l6, .row.l7 > .span.l7, .row.l8 > .span.l8, .row.l9 > .span.l9, .row.l10 > .span.l10,
  .row.l1 > .span.l1 {
    width: 100%; }

  ._fl2-l1, .row.l4 > .span.l2, .row.l6 > .span.l3, .row.l8 > .span.l4, .row.l10 > .span.l5,
  .row.l2 > .span.l1 {
    width: 50%; }

  ._fl3-l1, .row.l6 > .span.l2, .row.l9 > .span.l3,
  .row.l3 > .span.l1 {
    width: 33.3333333333%; }

  ._fl3-l2, .row.l6 > .span.l4, .row.l9 > .span.l6,
  .row.l3 > .span.l2 {
    width: 66.6666666667%; }

  ._fl4-l1, .row.l8 > .span.l2,
  .row.l4 > .span.l1 {
    width: 25%; }

  ._fl4-l3, .row.l8 > .span.l6,
  .row.l4 > .span.l3 {
    width: 75%; }

  ._fl5-l1, .row.l10 > .span.l2,
  .row.l5 > .span.l1 {
    width: 20%; }

  ._fl5-l2, .row.l10 > .span.l4,
  .row.l5 > .span.l2 {
    width: 40%; }

  ._fl5-l3, .row.l10 > .span.l6,
  .row.l5 > .span.l3 {
    width: 60%; }

  ._fl5-l4, .row.l10 > .span.l8,
  .row.l5 > .span.l4 {
    width: 80%; }

  ._fl6-l1,
  .row.l6 > .span.l1 {
    width: 16.6666666667%; }

  ._fl6-l5,
  .row.l6 > .span.l5 {
    width: 83.3333333333%; }

  ._fl7-l1,
  .row.l7 > .span.l1 {
    width: 14.2857142857%; }

  ._fl7-l2,
  .row.l7 > .span.l2 {
    width: 28.5714285714%; }

  ._fl7-l3,
  .row.l7 > .span.l3 {
    width: 42.8571428571%; }

  ._fl7-l4,
  .row.l7 > .span.l4 {
    width: 57.1428571429%; }

  ._fl7-l5,
  .row.l7 > .span.l5 {
    width: 71.4285714286%; }

  ._fl7-l6,
  .row.l7 > .span.l6 {
    width: 85.7142857143%; }

  ._fl8-l1,
  .row.l8 > .span.l1 {
    width: 12.5%; }

  ._fl8-l3,
  .row.l8 > .span.l3 {
    width: 37.5%; }

  ._fl8-l5,
  .row.l8 > .span.l5 {
    width: 62.5%; }

  ._fl8-l7,
  .row.l8 > .span.l7 {
    width: 87.5%; }

  ._fl9-l1,
  .row.l9 > .span.l1 {
    width: 11.1111111111%; }

  ._fl9-l2,
  .row.l9 > .span.l2 {
    width: 22.2222222222%; }

  ._fl9-l4,
  .row.l9 > .span.l4 {
    width: 44.4444444444%; }

  ._fl9-l5,
  .row.l9 > .span.l5 {
    width: 55.5555555556%; }

  ._fl9-l7,
  .row.l9 > .span.l7 {
    width: 77.7777777778%; }

  ._fl9-l8,
  .row.l9 > .span.l8 {
    width: 88.8888888889%; }

  ._fl10-l1,
  .row.l10 > .span.l1 {
    width: 10%; }

  ._fl10-l3,
  .row.l10 > .span.l3 {
    width: 30%; }

  ._fl10-l7,
  .row.l10 > .span.l7 {
    width: 70%; }

  ._fl10-l9,
  .row.l10 > .span.l9 {
    width: 90%; } }
@media all and (max-width: 480px) {
  .desktop-only {
    display: none !important; }

  .tablet-only {
    display: none; }

  .not-mobile {
    display: none; } }

/*# sourceMappingURL=_scaffolding.css.map */
